@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Anybody", sans-serif;
   background-color: #fff; 
  
}

img{
    max-width: 100%;
   
}
.container {
   width: 99%;
   margin: 0 auto;
    max-height: 100vh;
}
 #bg-video {
  margin-top: 10px;
   min-width: 100%;
  min-height: 100vh; 
  max-width: 99%;
  margin: 10px auto;
  height: 100vh; 
   object-fit: cover;
   z-index: -1;
 
}
.header-section {
  width: 99%;
  height: 100vh;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 45, 57, 0.7);
  background-attachment: fixed;
  color: white;
  height: 125px;
  z-index: 1111;

}

.header-section ul {
  display: flex;
  margin-left: 250px;

}

.header-section ul li {
  list-style-type: none;
}
.header-section ul li a {
  text-decoration: none;
  margin: 0px 30px;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.home-color{
    color: #ed563b !important;
   
}

.SignUp {
  text-decoration: none;
  background-color: #ed563b;
  margin-right: 90px;
  padding: 23px 40px;
 
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}





.SignUp a:hover {
  
  color:  #ec7560;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;

}

.logo {
  margin-left: 50px;
  font-size: 3.5rem;
  font-weight: 800;
}

.logo2 {
  color: #ed563b;
}

.content-section {

    position: absolute;
    width: 99%;
    top: 135px;
    height: 85vh;
    background-color: rgba(35, 45, 57, 0.8);

  }
.hero-section {
   
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.hero-section h6{
   
    margin-top: 0;
   
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 0.5px;
  
}


.easy-gym{

  margin-top: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 50px;
   
}

.hero-section .easy {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  
}

  .btn-link{
    text-decoration: none;
    background-color: #ed563b;
    color: white;
   font-style: 1.5rem;
    padding: 20px 30px;

}

a{
  text-decoration: none;
  color: white;
}




.container2{
    width: 100%;
    margin: 0 auto;
     height: 100vh;
     background: white;
}


.section-features{
   width: 50%;
   margin: 20px auto;
     position: relative;
     top: 100px;
     display: flex;
     flex-direction: column;
text-align: center;
align-items: center; 
justify-content: center;
font-size: 30px;
line-height: 50px;  

}

.program{
    display: flex;
   gap: 20px;
  
}

.section-features img {
    width: 90px;
  
    margin-bottom: 30px;
   

}

.section-features h1{
    margin-bottom: 30px;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.section-features span{
    font-size: 1.5rem;
}

.grid-section{
    position: relative;
     top: 200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
  margin: 20px auto;
  
}

.grid-box{
   
    display: flex;
    flex-direction: row;
    gap: 40px;
    
   
}

.grid-box img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.box-details{
    line-height: 40px;
    max-width: 100%;
}

.box-details a{
    color: #ed563b;
    text-decoration: none;
}


.third-section{
    width: 99%;
    margin: 0 auto;
    margin-top: 400px;
     max-height: 100vh;
    height: 80vh;
    background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg');

  
}

.third-subsection{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 400px;
   padding: 20px;
    height: 80vh;
   line-height: 40px;

 
}

.think-colors{
    display: flex;
   gap: 10px;
   font-size: 1.5rem;
   font-weight: 800;
}

.line-qoraal{
    color: white;
    font-size: 1.4rem;
}

.btn-link2{
    background-color: #ed563b;
    color: white;
    font-size: 1.7rem;
    padding: 20px 30px;

}




/* here section four started */


.section-four{
   
   position: relative;
   top: 200px;
    width: 60%;
    margin: 0px auto;
      display: flex;
      flex-direction: column;
 text-align: center;
 align-items: center; 
 justify-content: center;
 font-size: 30px;
 line-height: 50px;  
 
 }
 
 .program{
     display: flex;
    gap: 20px;
   
 }
 
 .section-four img {
     width: 90px;
   
     margin-bottom: 30px;
    
 
 }
 
 .section-four h1{
     margin-bottom: 30px;
     font-size: 3rem;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 1px;
 }
 
 .section-features span{
  
     font-size: 1.5rem;

     margin-bottom: 100px;
 }


.grid-section-four{
    position: relative;
    top: 300px;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    
   
}

.training-box{
 width: 100%;
    display: flex;
    flex-direction: column;
   gap: 40px;
  
 
}

.boxes{
    display: flex;
   font-size: 1.3rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-shadow:  2px 4px 8px 3px rgba(0,0,0,0.1);
    padding: 30px 40px;
    border-radius: 10px;
}

.btn-box{
     background-color: #ed563b;
     width: 100%;
    padding: 40px 60px;
     color: white;
     text-align: center;
     align-items: center;
     justify-content: center;
     font-size: 1rem;
     border-radius: 10px;
   font-weight: 400;
     margin-bottom: 100px;
     
}

.training-box img{
    max-width: 90px;
    height: 90px;
}

.training-class{
    margin-left: 40px;
    grid-column: 2 / span 3;
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 50px;
    width: 100%;
    
}
.training-class h2{
    font-size: 2rem;
    font-weight: 700;
}

.training-class p{
    font-size: 1.3rem;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.568);
}


.training-class img{
    width: 100%;
    border-radius: 8px;
}

.btn-box2{

    background-color: #ed563b;
    width: 30%;
   padding: 30px 40px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  margin-bottom: 100px;
}

.yogo-section{
position: relative;
  top: 700px;
  width: 99%;
   margin: 0 auto;
   
  height: 150vh;
   background: white;

  background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg');
  background-position: cover;

  margin-bottom: 800px;
}

.days{
  position: relative;
top: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 100px;
}

table {
  
  width: 60%;
  border-collapse: collapse;
  

}

table,tr,td{  
  border: 1px solid white;
text-align: center;
margin: 0 auto;
}

td{
  text-align: center;
  line-height: 120px;
  color: white;
}

.grid-trainers{
  position: relative;
  top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.three-boxes{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  padding: 50px;
  gap: 30px;

  box-shadow: 2px 4px 12px 2px rgba(183, 183, 183, 0.7);
}

.three-boxes img{
  width: 600px;
  height:300px;
}

.three-boxes p{
  line-height: 40px;
  font-size: 1rem;
}
 ul{

  display: flex;
  gap: 30px; 
}

ul li{
 list-style-type: none;
  text-align: center;
}

.social-media i{
  
  display: flex;
  gap: 20px;
  color: black;
  font-size: 24px;

 padding-bottom: 20px;
}



.map-section{
  display: flex;
  background-color: #ec7560;
  position: relative;
  top: 200px;  
  width: 99%;
  margin: 0 auto;
  height: 100vh;

  margin-bottom: 200px;
  
}

.form-section {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg');
  padding: 100px;

}

.map-image{
  width: 100%;
  height: 100vh;
}

form{
  gap: 50px;
  align-items: self-start;
  padding: 30px;
  width: 100%; 
  height: 100vh;
  background-color: #fff;
  border-radius: 10px;
}

.sec1{
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 50px;
  
  display: flex;
  width: 100%;
}

.sec1 input{
  width: 100%;
  padding: 20px;
}

.sec2 input{
  padding: 20px;
  margin-bottom: 40px;
  height: 50px;
  display: flex;
  width: 100%;
 
}

.sec3 input{
 
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 250px;

  width: 100%;
  
}
.sec3{
  width: 100%;
  margin-bottom: 40px;
}
.btn{
  border: none;
  width: 150px;
  padding:15px 20px;
  background-color: #ed563b;
  color: #fff;
}

.footer{
  width: 99%;
height: 150px;
  margin: 0 auto;
  display: flex;
 gap: 10px;
 align-items: center;
 justify-content: center;
 text-align: center;
 font-size:1rem;

}

.hamburger {
  display: none;
}


.mobile-menu{
  display: none;
}

.content-section video{
  display: none;
}

.bg-video2{
  display: none;
}

/* .logo{
  display: none;
} */

.logo-mobile{
  display: none;
}


.hamburger{
  display: none;
}
.hamburger i{
  font-size: 1.7rem;
  color: black;
  z-index: 11111;
}



/* tablet and mobile phones -------------------------------------------------------------*/
/* tablet and mobile phones -------------------------------------------------------------*/
/* tablet and mobile phones -------------------------------------------------------------*/
/* tablet and mobile phones -------------------------------------------------------------*/
/* tablet and mobile phones -------------------------------------------------------------*/
/* tablet and mobile phones -------------------------------------------------------------*/
@media(max-width: 768px){
  
 
  .header-section{
    display: none;
  }
  
 




  .mobile-menu[data-visible="false"] {
    transform: translateX(100%);
}

.hamburger i[data-visible="true"]{
    display: block;
}

.hamburger i[data-visible="false"]{
    display: none;
}


  /* .mobile-menu{
    display: flex;
    flex-direction: column;
    width: 99%;
  } */

   .logo-mobile {
    
    display: flex;
    width: 90%;
  display: flex;
    margin: 40px auto;
    font-size: 1.8rem;
    font-weight: 800;
    height: 70px;
    gap: 10px;

  z-index: 1111111;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: #5f6ad4; */
    color: white;
    /* padding: 15px; */
    width: 50px;
    height: 50px;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    font-size: 2rem;
}

  .content-section{
    display: flex;
    margin: 0 auto;
    position: absolute;
    width: 99%;
    top: 120px;
    height: 88vh;
    background-color: rgba(35, 45, 57, 0.8);
   margin-bottom: 200px;
  }

  .hero-section {
    margin: 0 auto;
   
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    width: 99%;
    top: 25%;
  
    transform: translate(-50%, -50%);
    
    
  }


  .hero-section h6{
    
    position: relative;
    top: 230px;
    margin-top: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 0.5px;
  
}


.easy-gym{

  margin-top: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    font-size: 2rem;
    font-weight: 800;
   
    text-align: center;
   
}

.hero-section h1 {
 text-align: center;
  
}


  .btn-link{
     margin-top: 30px;
    text-decoration: none;
    background-color: #ed563b;
    color: white;
   
    padding: 20px 30px;

}

a{
  text-decoration: none;
  color: white;
}

/* 
  .hamburger{
     display: flex;
  }
  */

 .container video{
  display: none;
 }
.bg-video2{
  display: flex;
}
.content-section video{
  display: flex !important;
   min-width: 100%;
  min-height: 100vh; 
  max-width: 99%;
  margin: 0px auto;
  height: 100vh; 
   object-fit: cover;
   z-index: -1;
}
  .container{
    display: flex;
    width: 100%;
    height: 100vh;
  }

  .container2{
    width: 99%;
    margin: 0 auto;
     height: 100vh;
     background: white;
}

.section-features{
  width: 90%;
  margin: 0px auto;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
text-align: center;
align-items: center; 
justify-content: center;
font-size: 30px;
line-height: 50px;  

}

.program{
   display: flex;
  gap: 20px;
 
}

.section-features img {
   width: 90px;  

}

.section-features h1{
   margin-bottom: 30px;
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: 1px;
}

.section-features span{
   font-size: 1rem !important;
   text-align: center !important;
   
}


.grid-section{
  
  position: relative;
   top: 50px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
margin: 0px auto;
padding: 20px;

}

.grid-box{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  
 
}

.grid-box img{
  width: 100%;
 
  border-radius: 18px;
}

.box-details h1{
    font-size: 20px;
}


.box-details p{
  font-size: 10px;
  color: rgb(65, 64, 64);
}

.box-details{
  line-height: 20px;
  max-width: 100%;
}

.box-details a{
  color: #ed563b;
  text-decoration: none;
}


.third-section{
  position: relative;
  top: 0;
  display: flex;
  width: 99%;
  margin: 0 auto;
  margin-top: 200px;
   max-height: 100vh;
  height: 80vh;
  background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg');


}


.third-subsection{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
 padding: 0px;
  height: 80vh;
 line-height: 40px;



}

.think-colors{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
 gap: 10px;

 font-size: 1rem;
 font-weight: 800;
}

.think{
  display: flex;
}
.h1colors{
  display: flex;
 
}
.line-qoraal{
  color: white;
  font-size: 1rem;
  width: 100%;
  padding: 0;
}

.btn-link2{
  background-color: #ed563b;
  color: white;
  font-size: 1.3rem;
  padding: 10px 20px;

}


.section-four{
   
  position: relative;
  top: 100px;
   width: 90%;
   margin: 0px auto;
     display: flex;
     flex-direction: column;

font-size: 14px;
line-height: 50px;  

}

.program{
    display: flex;
   gap: 20px;
  
}

.section-four img {
    width: 90px;
  
    margin-bottom: 30px;
   

}

.section-four h1{
    margin-bottom: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.section-features span{
  color: rgba(30, 30, 30, 0.379);
    font-size: 10px;
    text-align: left;
    margin-bottom: 100px;
}


.grid-section-four{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
 
  margin: 0 auto;
  width: 90%;
  height: 80vh;
 margin-bottom: 700px;
  
 
}

.training-box{
width: 100%;
  display: flex;
  flex-direction: column;
 gap: 40px;


}

.boxes{
  width: 100%;
  display: flex;
 font-size: 14px;
  box-shadow:  2px 4px 8px 3px rgba(0,0,0,0.1);
  padding: 15px 20px;
  border-radius: 10px;
  gap: 20px;
}

.btn-box{
   background-color: #ed563b;
   width: 100%;
  padding: 15px 20px;
   color: white;
   text-align: center;
  
   font-size: 10px;
   border-radius: 5px;
   margin-bottom: 0px;
   
}

.training-box img{
  max-width: 100%;
  height: 50px;
}

.training-class{
margin: 0 auto;
  width: 100%;
 display: flex;
 flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.training-class h2{
  font-size: 1.5rem;
  font-weight: 800;
}

.training-class p{
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.568);
}


.training-class img{
  width: 100%;
  border-radius: 8px;

}

.training-class p{
  font-size: 10px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.568);
}


.btn-box2{
  
  background-color: #ed563b;
  width: 50%;
 padding: 15px 15px;
  color: white;
  font-size: 5px;
 

}


.yogo-section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
    top: 0px;
    width: 99%;
     margin: 0 auto;
  
    height: 150vh;
     background: white;
  
    background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg');
    background-position: cover;
  
 
  }

  .yogo-section span{
    font-size: 15px !important;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
   
  }
  
  .days{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 20px;
  top: 60px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
  }

  .three-days{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .two-days{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  table {
    
    width: 90%;
    border-collapse: collapse;
  
  
  }
  
  table,tr,td{  
    border: 1px solid white;
  text-align: center;
  margin: 0 auto;
  }
  
  td{
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
  }
  

  .grid-trainers{
   
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
    height: 290vh;
    
  }


  .three-boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 50px;
    gap: 30px;
  
    box-shadow: 2px 4px 12px 2px rgba(183, 183, 183, 0.7);
  }
  
  .three-boxes img{
    width: 600px;
    height:300px;
  }
  
  .three-boxes p{
    line-height: 30px;
    font-size: 14px !important;
  }


  
.map-section{
  display: flex;
  flex-direction: column;
  background-color: #ec7560;
  position: relative;
  top: 150px;  
  width: 99%;
  margin: 0 auto;
  

  margin-bottom: 1100px;

}

.form-section {
  position: relative;
  top: 180px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg');
  padding: 50px;
  margin-bottom: 200px;

}

.map-image{
  width: 100%;
  height: 100vh;
}

form{
margin-top: 280px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 100%; 
  height: 90vh;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 300px;
 
}

.sec1{
  margin-bottom: 40px;
display: flex;
flex-direction: column;
  gap: 20px;
  height: 50px;
  
  display: flex;
  width: 100%;

  margin-bottom: 120px;
}

.sec1 input{
  width: 100%;
  padding: 20px;
}

.sec2 input{
  padding: 30px;
  margin-bottom: 40px;
  height: 30px;
  display: flex;
  width: 100%;

}

.sec3 input{
 
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 150px;

  width: 100%;
  
}
.sec3{
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;

}
.btn{
  margin-top: 0px;
  border: none;
  width: 150px;
  padding:15px 20px;
  background-color: #ed563b;
  color: #fff;
 

}

.footer{
 display: flex;
  width: 99%;
height: 100px;
  margin: 0 auto;
  display: flex;
 gap: 10px;
 align-items: center;
 justify-content: center;
 text-align: center;
 font-size: 15px;

}
  


}

