@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Anybody", sans-serif;
   background-color: #fff; 
  
}

img{
    max-width: 100%;
   
}
.container {
    
   width: 99%;
   margin: 0 auto;
   
    max-height: 100vh;
 
}




 #bg-video {
  margin-top: 10px;
   min-width: 100%;
  min-height: 100vh; 
  max-width: 99%;
  margin: 10px auto;
  height: 100vh; 
   object-fit: cover;
   z-index: -1;
 
}
.header-section {
    width: 99%;
    height: 100vh;
  position: absolute;
top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 45, 57, 0.7);
  background-attachment: fixed;
  color: white;
  height: 125px;

  z-index: 1111;

}

.header-section ul {
  display: flex;
  margin-left: 250px;

}

.header-section ul li {
  list-style-type: none;
}
.header-section ul li a {
  text-decoration: none;
  margin: 0px 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.home-color{
    color: #ed563b !important;
   
}

.SignUp a {
  text-decoration: none;
  background-color: #ed563b;
  margin-right: 110px;
  padding: 23px 33px;
 
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;


}


.SignUp a:hover {
  
  color:  #ec7560;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;

}

.logo {
  margin-left: 50px;
  font-size: 3.5rem;
  font-weight: 800;
}

.logo2 {
  color: #ed563b;
}

.content-section {

    position: absolute;
    width: 99%;
    top: 135px;
    height: 85vh;
    background-color: rgba(35, 45, 57, 0.8);

  }
.hero-section {
   
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}



.hero-section h6{
   
    margin-top: 0;
   
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 0.5px;
  
}


.easy-gym{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-weight: 800;
   
}

.hero-section .easy {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  
}
.hero-section .easy2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 35px;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #ed563b;
    letter-spacing: 1px;
    
  } 



/* .btn-link {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 20px 25px;
    background-color: #ed563b; 
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
}

a{
    text-decoration: none !important;
    color: white;
}




.home-color{
    color: #ed563b !important;
   
}

.SignUp {
  background-color: #ed563b;
  margin-right: 140px;
  padding: 20px 30px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;

}

.logo {
  margin-left: 50px;
  font-size: 3rem;
  font-weight: 800;
}
.logo2 {
  color: #ed563b;
} */


.container2{
    width: 100%;
    margin: 0 auto;
     height: 100vh;
     background: white;
}


.section-features{
   width: 50%;
   margin: 20px auto;
     position: relative;
     top: 100px;
     display: flex;
     flex-direction: column;
text-align: center;
align-items: center; 
justify-content: center;
font-size: 30px;
line-height: 50px;  

}

.program{
    display: flex;
   gap: 20px;
  
}

.section-features img {
    width: 90px;
  
    margin-bottom: 30px;
   

}

.section-features h1{
    margin-bottom: 30px;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.section-features span{
    font-size: 1.5rem;
}

.grid-section{
    position: relative;
     top: 200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
  margin: 20px auto;
  
}

.grid-box{
   
    display: flex;
    flex-direction: row;
    gap: 40px;
    
   
}

.grid-box img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.box-details{
    line-height: 40px;
    max-width: 100%;
}

.box-details a{
    color: #ed563b;
    text-decoration: none;
}


.third-section{
    width: 99%;
    margin: 0 auto;
    margin-top: 400px;
     max-height: 100vh;
    height: 80vh;
    background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg');

  
}

.third-subsection{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 400px;
   padding: 20px;
    height: 80vh;
   line-height: 40px;

 
}

.think-colors{
    display: flex;
   gap: 10px;
   font-size: 1.5rem;
   font-weight: 800;
}

.line-qoraal{
    color: white;
    font-size: 1.4rem;
}

.btn-link2{
    background-color: #ed563b;
    color: white;
    font-size: 1.7rem;
    padding: 20px 30px;

}




/* here section four started */


.section-four{
   
   position: relative;
   top: 200px;
    width: 60%;
    margin: 0px auto;
      display: flex;
      flex-direction: column;
 text-align: center;
 align-items: center; 
 justify-content: center;
 font-size: 30px;
 line-height: 50px;  
 
 }
 
 .program{
     display: flex;
    gap: 20px;
   
 }
 
 .section-four img {
     width: 90px;
   
     margin-bottom: 30px;
    
 
 }
 
 .section-four h1{
     margin-bottom: 30px;
     font-size: 3rem;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 1px;
 }
 
 .section-features span{
  
     font-size: 1.5rem;

     margin-bottom: 100px;
 }


.grid-section-four{
    position: relative;
    top: 300px;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    
   
}

.training-box{
 width: 100%;
    display: flex;
    flex-direction: column;
   gap: 40px;
  
 
}

.boxes{
    display: flex;
   font-size: 1.3rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-shadow:  2px 4px 8px 3px rgba(0,0,0,0.1);
    padding: 30px 40px;
    border-radius: 10px;
}

.btn-box{
     background-color: #ed563b;
     width: 100%;
    padding: 40px 60px;
     color: white;
     text-align: center;
     align-items: center;
     justify-content: center;
     font-size: 1rem;
     border-radius: 10px;
   font-weight: 400;
     margin-bottom: 100px;
     
}

.training-box img{
    max-width: 90px;
    height: 90px;
}

.training-class{
    margin-left: 40px;
    grid-column: 2 / span 3;
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 50px;
    width: 100%;
    
}
.training-class h2{
    font-size: 2rem;
    font-weight: 700;
}

.training-class p{
    font-size: 1.3rem;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.568);
}


.training-class img{
    width: 100%;
    border-radius: 8px;
}

.btn-box2{

    background-color: #ed563b;
    width: 30%;
   padding: 30px 40px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}